.profile-img {
	width: 160px;
	display: block;
	margin: auto;
	margin-top:42px;
}
.h {
	float: left;
}
.b {
	text-align: center;
	padding-top: 88px;
}
.c {
	float: left;
}
.container{
	background-color: white;
	margin-top: -81px;}
body{
	background-color: #EDEDED;
}
.e {
	background-color: #6D6E6A;
}
h2{
	color:#3B5A76;
}
p{
	background-color: #EDEDED;
	color: black;
	padding-left: 10px;
}
.col-sm-6{
	margin-top: 23px;
	padding-left: 25px;
}
.progress {
	margin: 10px;
}
.contai p{
	background-color: blue;
	margin: 7px;
	padding: 5px;
	text-align: center;
}