header{
	background-image: linear-gradient(#04519b,#044687 60%,#033769);
	color: #fff;
	min-height: 100px;
	padding-top: 25px;
}
header form{
	float: right;
}
header .logo{
	float: left;
}
.checkbox{
    padding-top: 54px;
    margin-left: 637px;
}
.nav {
	background-color: #F8F8F8;
}
h5{
	background-image: linear-gradient(#04519b,#044687 60%,#033769);
	color: white;
	line-height: 39px;
	height: 39px;
	padding-left: 10px;
	border-radius: 5px;
	    margin-right: -16px;
    margin-left: -16px;
}
.hinh img{
	margin: 10px;
}
.col-sm-4 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 40px;
      border:1px solid gray;
     width:100px;}
.col-sm-6 {
	    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 60px;
}
.col-sm-7{

