/*OwlCarousel*/
.owl-dot {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: gray !important;
	margin-right: 15px;
}
.owl-dots .active {
	background-color: white !important;

}
.owl-dots {
	margin-left: 47%;
	position: absolute;
	bottom: 3%;
}
.item img {
	height: 80vh;
	width: 100%;
}
.textCarousel {
	position: absolute;
	bottom: 15%;
	left: 5%;
	font-size: 30px;
	color: white;
	/*animation: ani 2s;*/
	
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	height: 50px;
	letter-spacing: .1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828,
	0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
	0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
/*phần nội dung*/
.iconShare {
	font-size: 20px;
	float: right;
	margin-left: 7px;
	/*color: #007bff;*/
}
.iconShare .fa-facebook-square {
	color: #516eab;
}
.iconShare .fa-twitter-square {
	color: #29c5f6;
}
.iconShare .fa-facebook-messenger {
	color: #058aff;
}
.iconShare .fa-envelope {
	color: #808080;
}
/**/
.khamPhaCauRong {
	border-bottom: 2px solid #f2ae1d;
	width: 100%;
	font-size: 25px;
}
.danhGia .fa-star,.fa-star-half-alt {
	color: #f69001;
}
.textLangNgam a {
	text-decoration: none;
}

/*reponsive*/
@media only screen and (max-width: 1000px) {
	.item img {
		width: 100%;
		height: 400px;
	}
	.textCarousel {
	position: absolute;
	bottom: 20%;
	left: 5%;
	font-size: 20px;
	color: white;
	/*animation: ani 2s;*/
	
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	height: 30px;
	letter-spacing: .1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828,
	0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
	0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
}