.Bbody {
	background-color: #f1f2f5;
	height: 900px;
}
.body {
	margin-left: 35px;
	padding-top: 20px;
}
.Rcard1 {
	justify-content: space-around;
	text-align: center;
	color: #3333ff;
}
.cardCon {
	margin-bottom: 10px;
}
.cardCon:hover {
	border: 2px solid red;
}
.Rcard2 {
	margin-left: 17px;
	text-align: center;
	color: #3333ff;
}
.c7 {
	margin-left: 40px;
}
a:hover {
	text-decoration: none;
}
.modelHeader {
	background-color: #f8f9fc;
	color: blue;
}
.cancel {
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 32px;
	border-radius: 5px;
}
.foTable {
	background-color: #36b9cc;
	color: white;
	border-radius: 5px;
}
.searchModel {
	width: 270px;
	border-radius: 4px;
}
img {
	height: 75px;
	width: 135px;
	border-radius: 6px;
	margin-bottom: 7px;
}
img:hover {
	 border: 2px solid red; 
}
/*.priceCafe {
	font-size: 12px;
	position: absolute;
	bottom: 7px;
	left: 2px;
	color: white;
	background-color: gray;
	border-radius: 3px;
	padding-right: 3px;
	padding-left: 2px;
}*/
.btnDrink {
	margin: 10px;	
}