.ebook {
	color: blue;
	margin-left: 20px;
}
.head {
	display: flex;
}
.search {
	margin-left: 10%;
	margin-top: 5px;
	height: 30px;
	width: 300px;
	border-radius: 5px 0px 0px 5px;
	background-color: #f8f9fc;
	border: 0;

}
/*bỏ viền màu xanh*/
.search:focus {     
    outline-style: none;  
} 
.iSearch {
	font-size: 16px;
}
.btnSearch {
	height: 29px;
	width: 40px;
	margin-top: 5px;
	border-radius: 0px 5px 5px 0px;
	border: 0;
	opacity: .5;
	background-color: blue;
	color: white;
}
.btnSearch:hover {
	opacity: 1;
}
.menuCol1 {
	background-color: #8e54c7;
	height: 900px;
}
.menuImg {
	width: 32px;
	color: white;
	text-align: center;
}
.i1 {
	font-size: 32px;
	margin-top: 15px;
}
.icon1, .icon2 {
	text-align: center;
	color: white;
}
.i2 {
	font-size: 32px;
}
.textMenu {
	color: #d592d4;
}
.selected {
	color: white;
}
.selected:hover {
	color: black;
	text-decoration: none;
}
.ebok {
	background-color: white;
}
.danh {
	position: absolute;
	top: 30%;
	right: 3%;
	font-family: cursive;
	color: gray;
}
/* active */
.notActive {
  text-decoration: none;
}
.Active {
color: black;
}

