.Obody {
	background-color: #f1f2f5;
	height: 900px;
}
.body {
	margin-left: 35px;
	padding-top: 20px;
}
.card1 {
	border-left: 5px solid blue;
	border-radius: 3px 0px 0px 3px;
}
.card2 {
	border-left: 5px solid #1cc88a;
	border-radius: 3px 0px 0px 3px;
}
.card3 {
	border-left: 5px solid #36b9cc;
	border-radius: 3px 0px 0px 3px;
}
.card4 {
	border-left: 5px solid #f7c649;
	border-radius: 3px 0px 0px 3px;
}
.Tcard1 {
	color: blue;
	font-family: cursive;
}
.Tcard2 {
	color: #1cc88a;
	font-family: cursive;
}
.Tcard3 {
	color: #36b9cc;
	font-family: cursive;
}
.Tcard4 {
	color: #f7c649;
	font-family: cursive;
}
.Rcard {
	justify-content: space-around;
}
.iC {
	position: absolute;
	top: 30%;
	right: 10%;
	font-size: 32px;
	color: gray;
}
.TextC {
	color: gray;
}