.RCtitle {
	color: blue;
}
.Ishow {
	border-radius: 5px;
}
.searchR {
	position: absolute;
	top: 85px;
	right: 120px; 
}
.searchI {
	border-radius: 5px;
	width: 250px;
}
.Sinfo {
	color: blue;
}
.Supdate {
	color: green;
}
.Sdelete {
	color: red;
}
.primary {
	position: absolute;
	right: 100px;
	top: 12px;
}
.select {
	width: 245px;
	height: 35px;
	border-radius: 4px;
}
.AddAre {
	width: 245px;
}
.newArea {
	color: #ffc107;
}
.editArea {
	color: #007bff;
}
.fontSize {
	width: 300px;
	margin-left: 20px;
}